p{
    text-align: center;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

form{
    text-align: center;
}

div{
    text-align: center;
}
.intro{
    font-size: 20px;
    text-align: left;
    position: fixed;
}

.vertical{
    display: block;
}